/* UI Container */
.ui.container {
  margin: 2rem auto;
  text-align: center;
  box-sizing: border-box;
}

/* UI Header */
.ui.icon.header .icon {
  margin-bottom: 1.3rem;
}

/* UI Form Field */
.ui.form .field {
  width: 300px;
  margin: 2rem auto;
}

/* UI Inverted Grey Button */
.ui.inverted.grey.button {
  color: #212121;
}

/* UI Basic Button */
.ui.basic.button {
  margin: 2rem 0 1rem;
}

.ui.basic.button:hover {
  background-color: #e0e0e0 !important;
  color: #212121 !important;
}

/* UI Celled List */
.ui.celled.list {
  height: 90vh;
}

.ui.celled.list > .item {
  width: 300px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ui.celled.list > .item:first-child {
  margin-top: 2rem;
}

/* UI List Item Content */
.ui.list > .item > .content {
  margin-top: 7px;
}

.ui.list > .item > i.icon {
  color: #ff0000;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 498px) {
  .ui.form .field {
    width: 200px;
  }
}
